table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.coffee{
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 1em ;
    margin-left: 1em;
}

#coffeeName {
    font-weight: bold;
    text-align: center;
}

#roastName {
    text-align: center;
    color: grey;
}



